<div class="col-md-2">
  <div class="panel panel-default">
    <div class="friend_field">
      <table class="table table-hover">
        <tr>
          <th>トーク</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to talk_room_user_path(user) do %><img src="<%= gravatar_url(user, { size:40 }) %>"><%= user.name %><% end %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading text-center" style="height:30px">
      <p><%= @user.name %>のトークルーム</p>
    </div>
    <div class="panel-body" style="height:400px; height:#px;overflow:auto;border:1px solid #aaa;padding:10px;">
      <!--ユーザのやり取りを表示させる-->
      <% @messages.each do |message| %>
        <!--この投稿(@post.id)とコメントのpost_idが一緒のものだけが表示される-->
        <% if message.reply_id == @user.id %>
          <div class="row row-center">
            <!--自分のコメントだった場合-->
            <% if message.user_id == current_user.id %>
              <!--アバターの表示-->
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                  <div class="popover left show"style="position:relative; top=-90px; lef=100px; max-width:100%; display:inline; margin-left:500px">
                    <div class="arrow"></div>
                    <div class="popover-content">
                      <p><%= message.content %></p>
                    </div>
                  </div>
                </div>
                <!--アバターは表示させない-->
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
                  
                </div>
           <!--相手のコメントだった場合-->
            <% else %>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
              <!--アバターの表示-->
                <%= link_to user_path(message.user_id) do %><img src="<%= gravatar_url(message.user, options = { size: 50 }) %>" class="img-responsive img-circle reviews"><% end %>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="popover right show"style="position:relative; top=-90px; left=100px; max-width:100%; display:inline;">
                  <div class="arrow"></div>
                  <div class="popover-content">
                    <p><%= message.content %></p>
                  </div>
                </div>
              </div>
            <% end %>
            
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="panel-footer">
      <!--メッセージフォーム-->
      <div class="message-form">
        <%= form_for(@message, url: message_create_user_path(@user)) do |f| %>
          <%= f.text_field :content, class: "form-control" %>
          <%= f.hidden_field :reply_id, value: @user.id %>
          <%= f.submit "送信", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>